.l-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.l-double > .l-double-p {
  margin: 10px;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-shadow: none;
  border-bottom: 1px solid #000000;
}

.l-double.svg-background {
  background-image: url("./assets/curveSVG.jpg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 48% center;
}

.l-double_smal-left {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 3fr;
}

.l-double_smal-right {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  font-size: 20px;
}

.cell-table {
  padding: 0px 10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.gradient-bqckground {
  background-color: #652487;
  background-image: linear-gradient(
    160deg,
    #652487 0,
    #443ac3 35%,
    #0174b7 68%,
    #04988e 100%
  );
  color: #e7e4eb;
}

.light-gray-background {
  background-color: #979797;
}

.dark-background {
  background-color: #000000;
}

.small-text {
  font-size: 20px;
}
